### Import the libraries

In [1]:
import numpy as np
import pandas as pd

In [2]:
df_students_original = pd.read_excel (r'./data/student_project_assignment_input-1.xls', sheet_name='studenten')
df_courses_original = pd.read_excel (r'./data/student_project_assignment_input-1.xls', sheet_name='assignments')

In [3]:
df_students = df_students_original.copy()

In [4]:
df_courses = df_courses_original.copy()

### Clean the data

In [5]:
#establishing happiness points system

lst_1_8 = list(range(1,9))
lst_1_8.reverse()
lst_1_8
df_students.loc[0][2:] = lst_1_8 #Give the happiness points (from 8, most prefered to 1 least prefered) for ...
                                    #...each courses selected by the students the columns

In [6]:
#cleaning (students)

df_students.columns = df_students.iloc[0] #Column labels are defined with the first column
df_students = df_students.drop(0) #Drop the labels of the first column
df_students = df_students.reset_index(drop=True) #Reset the index of the first column with integer index

In [7]:
clean_empty_rows = df_students['Student ID'].isnull() #Detect missing values in the column 'Student ID'
df_students_clean = df_students[~clean_empty_rows] 

clean_empty_rows2 = df_students_clean['Credits Required'].isnull() #Detect missing values in the column 'Credits Required'
df_students_clean = df_students_clean[~clean_empty_rows2] #Remove the missing values
df_students_clean.reset_index(drop = True) #Reset the index of the first column with integer index

df_students = df_students_clean

In [8]:
#formatting (students)

credits_num = pd.to_numeric(df_students['Credits Required']) #Convert the credits to a numeric type
df_students['Credits Required'] = credits_num

In [9]:
df_students.info() #Print a concise summary of the data

<class 'pandas.core.frame.DataFrame'>
Int64Index: 244 entries, 0 to 243
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Student ID        244 non-null    object
 1   Credits Required  244 non-null    int64
 2   8                 244 non-null    object
 3   7                 244 non-null    object
 4   6                 244 non-null    object
 5   5                 244 non-null    object
 6   4                 244 non-null    object
 7   3                 244 non-null    object
 8   2                 244 non-null    object
 9   1                 244 non-null    object
dtypes: int64(1), object(9)
memory usage: 21.0+ KB

In [10]:
#cleaning (courses)

df_courses.columns = df_courses.iloc[0]
df_courses = df_courses.drop(0)
df_courses = df_courses.reset_index(drop=True)

In [11]:
clean_empty_rows3 = df_courses['Course ID'].isnull()
df_courses_clean = df_courses[~clean_empty_rows3]

df_courses_clean.reset_index(drop = True)

df_courses = df_courses_clean

In [12]:
#formatting (courses)


df_courses['Min Students'] = pd.to_numeric(df_courses['Min Students'])
df_courses['Max Students'] = pd.to_numeric(df_courses['Max Students'])
df_courses['Time Slot'] = pd.to_numeric(df_courses['Time Slot'])
df_courses['Credits'] = pd.to_numeric(df_courses['Credits'])
# df_courses.set_index('Course ID')

In [13]:
df_courses.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46 entries, 0 to 45
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Course ID     46 non-null     object
 1   Min Students  46 non-null     int64
 2   Max Students  46 non-null     int64
 3   Time Slot     46 non-null     int64
 4   Credits       46 non-null     int64
dtypes: int64(4), object(1)
memory usage: 2.2+ KB

### Keep track of changes

In [14]:
df_students.head()
df_students.iloc[200:205]

,Student ID,Credits Required,8,7,6,5,4,3,2,1
200,s_203,3,DA217,DA104,DA910-1,DA701,DA803,DA403,DA513,DA311
201,s_204,3,DA605,DA212,DA306,DA803,DA010,DA717,DA302,DA104
202,s_205,3,DA717,DA201,DA311,DA704,DA207,DA202,DA302,DA104
203,s_206,3,DA704,DA311,DA301-1,DA206,DA201,DA302,DA211,DA806
204,s_207,3,DI703,DI703,DI703,DI703,DI703,DI703,DI703,DI703

In [15]:
df_courses.head()

0 Course ID  Min Students  Max Students  Time Slot  Credits
0     DA010             5            20          2        1
1     DA011             5            20          0        1
2    DA011F            10            24          3        1
3     DA104             5            20          9        1
4     DA201             5            20          1        2

In [16]:
def baseSelectorCourses(course: str, column: str):
    row = df_courses[df_courses['Course ID'] == course]
    x = list(row[column])
    return x[0]
    
def getCreditsForCourse(course: str) -> int:
    return baseSelectorCourses(course, 'Credits')

def getMinStudentsForCourse(course: str) ->int:
    return baseSelectorCourses(course, 'Min Students')

def getMaxStudentsForCourse(course: str) -> int:
    return baseSelectorCourses(course, 'Max Students')

def getTimeSlotForCourse(course: str) -> int:
    return baseSelectorCourses(course, 'Time Slot')

def getAllCourses():
    return df_courses['Course ID'].values

def getNumberOfStudentInCourse(dictionary, course: str)-> int:
    return len(dictionary[course])

In [17]:
# testing some functions defined above
print(getCreditsForCourse('DA010'))
print(getMaxStudentsForCourse('DA201'))
print(getMinStudentsForCourse('DA201'))
print(getTimeSlotForCourse('DA010'))

1
20
5
2

In [18]:
def baseSelectorStudent(student: str, column: str):
    row = df_students[df_students['Student ID'] == student]
    return list(row[column])[0]

def getCreditsRequiredForStudent(student: str) -> int:
    return baseSelectorStudent(student, 'Credits Required')

def getListOfPreferedCourses(student: str) -> list:
    row = df_students[df_students['Student ID'] == student]
    return row.iloc[0].values[2:]
    
def getAllStudents():
    return df_students['Student ID'].values

In [19]:
def getTotalCreditsForStudent(solution: dict, student: str) -> int:
    amount = 0
    for course in solution[student]:
        amount += getCreditsForCourse(course)
    return amount

In [20]:
def getFirstUnenrolledCourse(student, courses):
    pref = getListOfPreferedCourses(student)
    for elem in pref:
        if elem not in courses:
            return elem
    return None

In [21]:
def initialSolution():
    """Outputs 2 dictionaries in a tuple, ({student: [courses]}, {course: [students]})
    only looking at student preferences and credit requirement"""
    solution = {student: [] for student in getAllStudents()}
    solution2 = {course: [] for course in getAllCourses()}
    for student, courses in solution.items():
        while getCreditsRequiredForStudent(student) > getTotalCreditsForStudent(solution, student):
            c = getFirstUnenrolledCourse(student, courses)
#             if getMaxStudentsForCourse(c) > getNumberOfStudentInCourse(solution2, c)
            
            if c == None: #one klapmogool put in the same course 8 times
                c = 'DA201'
            courses.append(c)
            solution2[c].append(student)
    
    return solution, solution2


x, y = initialSolution()
# print(x)
y

{'DA010': ['s_60',
  's_132',
  's_145',
  's_150',
  's_153',
  's_183',
  's_196',
  's_243'],
 'DA011': ['s_68', 's_90', 's_139', 's_216', 's_223'],
 'DA011F': ['s_85', 's_222'],
 'DA104': ['s_5',
  's_7',
  's_8',
  's_9',
  's_11',
  's_12',
  's_38',
  's_40',
  's_42',
  's_70',
  's_74',
  's_84',
  's_90',
  's_98',
  's_102',
  's_109',
  's_114',
  's_125',
  's_126',
  's_143',
  's_151',
  's_162',
  's_164',
  's_165',
  's_182',
  's_184',
  's_191',
  's_195',
  's_200',
  's_202',
  's_203',
  's_208',
  's_211',
  's_231',
  's_244',
  's_246'],
 'DA201': ['s_9',
  's_10',
  's_29',
  's_56',
  's_58',
  's_70',
  's_82',
  's_87',
  's_92',
  's_94',
  's_109',
  's_113',
  's_120',
  's_128',
  's_146',
  's_147',
  's_156',
  's_157',
  's_158',
  's_167',
  's_178',
  's_179',
  's_185',
  's_192',
  's_193',
  's_197',
  's_202',
  's_205',
  's_207',
  's_209',
  's_212',
  's_240'],
 'DA202': ['s_84', 's_137', 's_235', 's_236'],
 'DA204': ['s_124', 's_160'],
 'DA206': ['s_25', 's_126', 's_128', 's_155', 's_170', 's_246'],
 'DA207': ['s_12',
  's_76',
  's_79',
  's_93',
  's_104',
  's_121',
  's_136',
  's_138',
  's_173',
  's_174',
  's_177',
  's_215',
  's_218',
  's_220',
  's_228',
  's_242'],
 'DA211': ['s_72', 's_128'],
 'DA212': ['s_4',
  's_7',
  's_11',
  's_13',
  's_21',
  's_38',
  's_47',
  's_57',
  's_59',
  's_68',
  's_81',
  's_87',
  's_95',
  's_98',
  's_100',
  's_110',
  's_124',
  's_126',
  's_135',
  's_142',
  's_144',
  's_145',
  's_148',
  's_174',
  's_176',
  's_180',
  's_185',
  's_188',
  's_204',
  's_209',
  's_216',
  's_227',
  's_230',
  's_237'],
 'DA217': ['s_24',
  's_43',
  's_51',
  's_57',
  's_61',
  's_152',
  's_153',
  's_177',
  's_180',
  's_182',
  's_201',
  's_203',
  's_230',
  's_237',
  's_241'],
 'DA220': [],
 'DA234': ['s_27', 's_28', 's_184', 's_198', 's_222', 's_223', 's_225'],
 'DA238': ['s_105', 's_184'],
 'DA250F-1': ['s_14', 's_181'],
 'DA250F-2': ['s_173', 's_176'],
 'DA251F': ['s_24', 's_47', 's_183', 's_236'],
 'DA301-1': ['s_6',
  's_8',
  's_33',
  's_34',
  's_64',
  's_66',
  's_83',
  's_129',
  's_130',
  's_146',
  's_155',
  's_161',
  's_162',
  's_163',
  's_178',
  's_190',
  's_195',
  's_201',
  's_237'],
 'DA302': ['s_3',
  's_18',
  's_36',
  's_44',
  's_89',
  's_151',
  's_186',
  's_195',
  's_227',
  's_243'],
 'DA306': ['s_27',
  's_28',
  's_112',
  's_150',
  's_157',
  's_168',
  's_176',
  's_187',
  's_204'],
 'DA308': ['s_26', 's_86', 's_133', 's_158', 's_213'],
 'DA311': ['s_11',
  's_17',
  's_32',
  's_34',
  's_40',
  's_41',
  's_55',
  's_77',
  's_83',
  's_89',
  's_107',
  's_123',
  's_127',
  's_141',
  's_150',
  's_154',
  's_159',
  's_168',
  's_170',
  's_193',
  's_198',
  's_206',
  's_224',
  's_229',
  's_239',
  's_244'],
 'DA403': ['s_33',
  's_48',
  's_102',
  's_108',
  's_112',
  's_135',
  's_172',
  's_239'],
 'DA408': ['s_55', 's_60', 's_160', 's_216', 's_234', 's_242', 's_245'],
 'DA415F': ['s_14',
  's_19',
  's_20',
  's_22',
  's_36',
  's_41',
  's_54',
  's_57',
  's_61',
  's_65',
  's_72',
  's_86',
  's_96',
  's_97',
  's_99',
  's_102',
  's_108',
  's_111',
  's_114',
  's_118',
  's_121',
  's_137',
  's_149',
  's_162',
  's_166',
  's_169',
  's_192',
  's_198',
  's_201',
  's_215',
  's_221',
  's_222',
  's_231',
  's_232',
  's_240'],
 'DA511': ['s_16',
  's_22',
  's_23',
  's_42',
  's_45',
  's_89',
  's_90',
  's_95',
  's_108',
  's_124',
  's_127',
  's_139',
  's_155',
  's_161',
  's_163',
  's_164',
  's_175',
  's_187',
  's_196',
  's_202',
  's_230',
  's_234'],
 'DA512': ['s_3',
  's_4',
  's_8',
  's_14',
  's_15',
  's_19',
  's_20',
  's_25',
  's_30',
  's_48',
  's_66',
  's_80',
  's_82',
  's_88',
  's_89',
  's_99',
  's_101',
  's_104',
  's_118',
  's_120',
  's_122',
  's_127',
  's_129',
  's_137',
  's_159',
  's_161',
  's_167',
  's_172',
  's_217',
  's_220',
  's_235',
  's_236',
  's_238'],
 'DA513': ['s_16',
  's_45',
  's_96',
  's_100',
  's_106',
  's_142',
  's_148',
  's_149',
  's_166',
  's_196',
  's_240'],
 'DA605': ['s_9',
  's_12',
  's_23',
  's_29',
  's_30',
  's_33',
  's_41',
  's_45',
  's_51',
  's_68',
  's_74',
  's_88',
  's_91',
  's_100',
  's_114',
  's_125',
  's_151',
  's_152',
  's_166',
  's_204',
  's_211',
  's_214',
  's_232',
  's_238',
  's_244'],
 'DA701': ['s_17',
  's_26',
  's_44',
  's_54',
  's_58',
  's_67',
  's_73',
  's_81',
  's_93',
  's_94',
  's_103',
  's_116',
  's_119',
  's_136',
  's_181',
  's_186',
  's_194',
  's_199',
  's_208',
  's_228',
  's_241'],
 'DA702': ['s_81',
  's_88',
  's_116',
  's_120',
  's_130',
  's_152',
  's_171',
  's_181',
  's_226'],
 'DA704': ['s_27',
  's_28',
  's_35',
  's_37',
  's_49',
  's_53',
  's_67',
  's_69',
  's_73',
  's_78',
  's_111',
  's_140',
  's_171',
  's_182',
  's_189',
  's_199',
  's_200',
  's_206',
  's_210',
  's_233'],
 'DA707': ['s_3',
  's_14',
  's_18',
  's_23',
  's_31',
  's_35',
  's_36',
  's_37',
  's_40',
  's_44',
  's_49',
  's_52',
  's_53',
  's_59',
  's_62',
  's_63',
  's_65',
  's_66',
  's_73',
  's_77',
  's_78',
  's_92',
  's_93',
  's_94',
  's_97',
  's_99',
  's_101',
  's_103',
  's_104',
  's_107',
  's_111',
  's_112',
  's_116',
  's_117',
  's_122',
  's_130',
  's_134',
  's_136',
  's_140',
  's_141',
  's_147',
  's_149',
  's_156',
  's_159',
  's_163',
  's_168',
  's_170',
  's_179',
  's_186',
  's_194',
  's_210',
  's_212',
  's_218',
  's_226',
  's_233',
  's_238',
  's_241'],
 'DA714': ['s_10',
  's_20',
  's_22',
  's_24',
  's_31',
  's_32',
  's_34',
  's_40',
  's_48',
  's_50',
  's_55',
  's_59',
  's_61',
  's_62',
  's_72',
  's_91',
  's_97',
  's_103',
  's_105',
  's_117',
  's_132',
  's_154',
  's_180',
  's_210',
  's_231'],
 'DA717': ['s_15',
  's_16',
  's_43',
  's_56',
  's_79',
  's_91',
  's_106',
  's_117',
  's_132',
  's_138',
  's_139',
  's_143',
  's_148',
  's_160',
  's_169',
  's_188',
  's_191',
  's_192',
  's_205',
  's_222',
  's_224',
  's_227',
  's_229',
  's_231',
  's_234',
  's_245'],
 'DA718': ['s_24',
  's_46',
  's_50',
  's_101',
  's_110',
  's_118',
  's_119',
  's_135',
  's_165',
  's_177',
  's_191',
  's_215',
  's_219'],
 'DA719-1': ['s_21',
  's_39',
  's_51',
  's_80',
  's_115',
  's_154',
  's_169',
  's_175'],
 'DA719-2': ['s_115'],
 'DA803': ['s_5',
  's_6',
  's_13',
  's_38',
  's_54',
  's_71',
  's_123',
  's_144',
  's_153',
  's_190',
  's_219'],
 'DA806': ['s_19',
  's_46',
  's_64',
  's_85',
  's_108',
  's_115',
  's_123',
  's_157',
  's_164',
  's_165',
  's_211',
  's_221',
  's_243'],
 'DA910-1': ['s_15',
  's_17',
  's_46',
  's_47',
  's_50',
  's_52',
  's_63',
  's_77',
  's_106',
  's_107',
  's_113',
  's_119',
  's_121',
  's_134',
  's_147',
  's_172',
  's_183',
  's_194',
  's_203',
  's_214',
  's_235',
  's_239'],
 'DA910-2': ['s_7',
  's_18',
  's_31',
  's_32',
  's_42',
  's_52',
  's_53',
  's_62',
  's_65',
  's_69',
  's_76',
  's_80',
  's_83',
  's_84',
  's_122',
  's_134',
  's_141',
  's_142',
  's_143',
  's_156',
  's_208',
  's_213',
  's_214',
  's_219',
  's_221',
  's_226',
  's_233'],
 'DA912': ['s_4',
  's_6',
  's_21',
  's_25',
  's_45',
  's_60',
  's_63',
  's_64',
  's_74',
  's_75',
  's_85',
  's_95',
  's_96',
  's_98',
  's_105',
  's_125',
  's_131',
  's_144',
  's_145',
  's_175',
  's_188',
  's_190',
  's_223',
  's_224',
  's_225',
  's_229',
  's_246'],
 'DI702': [],
 'DI703': ['s_30', 's_66', 's_71', 's_95', 's_129', 's_189', 's_197', 's_207']}

In [22]:
#swapping dictionary key and values from student:course to course:student
def asdfasdf(solution):
    """asdfasdf"""
    solution2 = {course: [] for course in getAllCourses()}
    
    for student, courses in solution.items():
        for i in courses:
            solution2[i].append(student)
            
    return solution2

x2 = asdfasdf(x)
x2

{'DA010': ['s_60',
  's_132',
  's_145',
  's_150',
  's_153',
  's_183',
  's_196',
  's_243'],
 'DA011': ['s_68', 's_90', 's_139', 's_216', 's_223'],
 'DA011F': ['s_85', 's_222'],
 'DA104': ['s_5',
  's_7',
  's_8',
  's_9',
  's_11',
  's_12',
  's_38',
  's_40',
  's_42',
  's_70',
  's_74',
  's_84',
  's_90',
  's_98',
  's_102',
  's_109',
  's_114',
  's_125',
  's_126',
  's_143',
  's_151',
  's_162',
  's_164',
  's_165',
  's_182',
  's_184',
  's_191',
  's_195',
  's_200',
  's_202',
  's_203',
  's_208',
  's_211',
  's_231',
  's_244',
  's_246'],
 'DA201': ['s_9',
  's_10',
  's_29',
  's_56',
  's_58',
  's_70',
  's_82',
  's_87',
  's_92',
  's_94',
  's_109',
  's_113',
  's_120',
  's_128',
  's_146',
  's_147',
  's_156',
  's_157',
  's_158',
  's_167',
  's_178',
  's_179',
  's_185',
  's_192',
  's_193',
  's_197',
  's_202',
  's_205',
  's_207',
  's_209',
  's_212',
  's_240'],
 'DA202': ['s_84', 's_137', 's_235', 's_236'],
 'DA204': ['s_124', 's_160'],
 'DA206': ['s_25', 's_126', 's_128', 's_155', 's_170', 's_246'],
 'DA207': ['s_12',
  's_76',
  's_79',
  's_93',
  's_104',
  's_121',
  's_136',
  's_138',
  's_173',
  's_174',
  's_177',
  's_215',
  's_218',
  's_220',
  's_228',
  's_242'],
 'DA211': ['s_72', 's_128'],
 'DA212': ['s_4',
  's_7',
  's_11',
  's_13',
  's_21',
  's_38',
  's_47',
  's_57',
  's_59',
  's_68',
  's_81',
  's_87',
  's_95',
  's_98',
  's_100',
  's_110',
  's_124',
  's_126',
  's_135',
  's_142',
  's_144',
  's_145',
  's_148',
  's_174',
  's_176',
  's_180',
  's_185',
  's_188',
  's_204',
  's_209',
  's_216',
  's_227',
  's_230',
  's_237'],
 'DA217': ['s_24',
  's_43',
  's_51',
  's_57',
  's_61',
  's_152',
  's_153',
  's_177',
  's_180',
  's_182',
  's_201',
  's_203',
  's_230',
  's_237',
  's_241'],
 'DA220': [],
 'DA234': ['s_27', 's_28', 's_184', 's_198', 's_222', 's_223', 's_225'],
 'DA238': ['s_105', 's_184'],
 'DA250F-1': ['s_14', 's_181'],
 'DA250F-2': ['s_173', 's_176'],
 'DA251F': ['s_24', 's_47', 's_183', 's_236'],
 'DA301-1': ['s_6',
  's_8',
  's_33',
  's_34',
  's_64',
  's_66',
  's_83',
  's_129',
  's_130',
  's_146',
  's_155',
  's_161',
  's_162',
  's_163',
  's_178',
  's_190',
  's_195',
  's_201',
  's_237'],
 'DA302': ['s_3',
  's_18',
  's_36',
  's_44',
  's_89',
  's_151',
  's_186',
  's_195',
  's_227',
  's_243'],
 'DA306': ['s_27',
  's_28',
  's_112',
  's_150',
  's_157',
  's_168',
  's_176',
  's_187',
  's_204'],
 'DA308': ['s_26', 's_86', 's_133', 's_158', 's_213'],
 'DA311': ['s_11',
  's_17',
  's_32',
  's_34',
  's_40',
  's_41',
  's_55',
  's_77',
  's_83',
  's_89',
  's_107',
  's_123',
  's_127',
  's_141',
  's_150',
  's_154',
  's_159',
  's_168',
  's_170',
  's_193',
  's_198',
  's_206',
  's_224',
  's_229',
  's_239',
  's_244'],
 'DA403': ['s_33',
  's_48',
  's_102',
  's_108',
  's_112',
  's_135',
  's_172',
  's_239'],
 'DA408': ['s_55', 's_60', 's_160', 's_216', 's_234', 's_242', 's_245'],
 'DA415F': ['s_14',
  's_19',
  's_20',
  's_22',
  's_36',
  's_41',
  's_54',
  's_57',
  's_61',
  's_65',
  's_72',
  's_86',
  's_96',
  's_97',
  's_99',
  's_102',
  's_108',
  's_111',
  's_114',
  's_118',
  's_121',
  's_137',
  's_149',
  's_162',
  's_166',
  's_169',
  's_192',
  's_198',
  's_201',
  's_215',
  's_221',
  's_222',
  's_231',
  's_232',
  's_240'],
 'DA511': ['s_16',
  's_22',
  's_23',
  's_42',
  's_45',
  's_89',
  's_90',
  's_95',
  's_108',
  's_124',
  's_127',
  's_139',
  's_155',
  's_161',
  's_163',
  's_164',
  's_175',
  's_187',
  's_196',
  's_202',
  's_230',
  's_234'],
 'DA512': ['s_3',
  's_4',
  's_8',
  's_14',
  's_15',
  's_19',
  's_20',
  's_25',
  's_30',
  's_48',
  's_66',
  's_80',
  's_82',
  's_88',
  's_89',
  's_99',
  's_101',
  's_104',
  's_118',
  's_120',
  's_122',
  's_127',
  's_129',
  's_137',
  's_159',
  's_161',
  's_167',
  's_172',
  's_217',
  's_220',
  's_235',
  's_236',
  's_238'],
 'DA513': ['s_16',
  's_45',
  's_96',
  's_100',
  's_106',
  's_142',
  's_148',
  's_149',
  's_166',
  's_196',
  's_240'],
 'DA605': ['s_9',
  's_12',
  's_23',
  's_29',
  's_30',
  's_33',
  's_41',
  's_45',
  's_51',
  's_68',
  's_74',
  's_88',
  's_91',
  's_100',
  's_114',
  's_125',
  's_151',
  's_152',
  's_166',
  's_204',
  's_211',
  's_214',
  's_232',
  's_238',
  's_244'],
 'DA701': ['s_17',
  's_26',
  's_44',
  's_54',
  's_58',
  's_67',
  's_73',
  's_81',
  's_93',
  's_94',
  's_103',
  's_116',
  's_119',
  's_136',
  's_181',
  's_186',
  's_194',
  's_199',
  's_208',
  's_228',
  's_241'],
 'DA702': ['s_81',
  's_88',
  's_116',
  's_120',
  's_130',
  's_152',
  's_171',
  's_181',
  's_226'],
 'DA704': ['s_27',
  's_28',
  's_35',
  's_37',
  's_49',
  's_53',
  's_67',
  's_69',
  's_73',
  's_78',
  's_111',
  's_140',
  's_171',
  's_182',
  's_189',
  's_199',
  's_200',
  's_206',
  's_210',
  's_233'],
 'DA707': ['s_3',
  's_14',
  's_18',
  's_23',
  's_31',
  's_35',
  's_36',
  's_37',
  's_40',
  's_44',
  's_49',
  's_52',
  's_53',
  's_59',
  's_62',
  's_63',
  's_65',
  's_66',
  's_73',
  's_77',
  's_78',
  's_92',
  's_93',
  's_94',
  's_97',
  's_99',
  's_101',
  's_103',
  's_104',
  's_107',
  's_111',
  's_112',
  's_116',
  's_117',
  's_122',
  's_130',
  's_134',
  's_136',
  's_140',
  's_141',
  's_147',
  's_149',
  's_156',
  's_159',
  's_163',
  's_168',
  's_170',
  's_179',
  's_186',
  's_194',
  's_210',
  's_212',
  's_218',
  's_226',
  's_233',
  's_238',
  's_241'],
 'DA714': ['s_10',
  's_20',
  's_22',
  's_24',
  's_31',
  's_32',
  's_34',
  's_40',
  's_48',
  's_50',
  's_55',
  's_59',
  's_61',
  's_62',
  's_72',
  's_91',
  's_97',
  's_103',
  's_105',
  's_117',
  's_132',
  's_154',
  's_180',
  's_210',
  's_231'],
 'DA717': ['s_15',
  's_16',
  's_43',
  's_56',
  's_79',
  's_91',
  's_106',
  's_117',
  's_132',
  's_138',
  's_139',
  's_143',
  's_148',
  's_160',
  's_169',
  's_188',
  's_191',
  's_192',
  's_205',
  's_222',
  's_224',
  's_227',
  's_229',
  's_231',
  's_234',
  's_245'],
 'DA718': ['s_24',
  's_46',
  's_50',
  's_101',
  's_110',
  's_118',
  's_119',
  's_135',
  's_165',
  's_177',
  's_191',
  's_215',
  's_219'],
 'DA719-1': ['s_21',
  's_39',
  's_51',
  's_80',
  's_115',
  's_154',
  's_169',
  's_175'],
 'DA719-2': ['s_115'],
 'DA803': ['s_5',
  's_6',
  's_13',
  's_38',
  's_54',
  's_71',
  's_123',
  's_144',
  's_153',
  's_190',
  's_219'],
 'DA806': ['s_19',
  's_46',
  's_64',
  's_85',
  's_108',
  's_115',
  's_123',
  's_157',
  's_164',
  's_165',
  's_211',
  's_221',
  's_243'],
 'DA910-1': ['s_15',
  's_17',
  's_46',
  's_47',
  's_50',
  's_52',
  's_63',
  's_77',
  's_106',
  's_107',
  's_113',
  's_119',
  's_121',
  's_134',
  's_147',
  's_172',
  's_183',
  's_194',
  's_203',
  's_214',
  's_235',
  's_239'],
 'DA910-2': ['s_7',
  's_18',
  's_31',
  's_32',
  's_42',
  's_52',
  's_53',
  's_62',
  's_65',
  's_69',
  's_76',
  's_80',
  's_83',
  's_84',
  's_122',
  's_134',
  's_141',
  's_142',
  's_143',
  's_156',
  's_208',
  's_213',
  's_214',
  's_219',
  's_221',
  's_226',
  's_233'],
 'DA912': ['s_4',
  's_6',
  's_21',
  's_25',
  's_45',
  's_60',
  's_63',
  's_64',
  's_74',
  's_75',
  's_85',
  's_95',
  's_96',
  's_98',
  's_105',
  's_125',
  's_131',
  's_144',
  's_145',
  's_175',
  's_188',
  's_190',
  's_223',
  's_224',
  's_225',
  's_229',
  's_246'],
 'DI702': [],
 'DI703': ['s_30', 's_66', 's_71', 's_95', 's_129', 's_189', 's_197', 's_207']}

In [23]:
sorted([ len(y[i]) for i in y.keys()]) #ordered list of students per subject

[0,
 0,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 4,
 4,
 5,
 5,
 6,
 7,
 7,
 8,
 8,
 8,
 8,
 9,
 9,
 10,
 11,
 11,
 13,
 13,
 15,
 16,
 19,
 20,
 21,
 22,
 22,
 25,
 25,
 26,
 26,
 27,
 27,
 32,
 33,
 34,
 35,
 36,
 57]