### Import the libraries

In [1]:
import numpy as np
import pandas as pd

In [2]:
df_students_original = pd.read_excel (r'./student_project_assignment_input-1.xls', sheet_name='studenten')
df_courses_original = pd.read_excel (r'./student_project_assignment_input-1.xls', sheet_name='assignments')

In [3]:
df_students = df_students_original.copy()

In [4]:
df_courses = df_courses_original.copy()

### Clean the data

In [5]:
#establishing happiness points system

lst_1_8 = list(range(1,9))
lst_1_8.reverse()
lst_1_8
df_students.loc[0][2:] = lst_1_8 #Give the happiness points (from 8, most prefered to 1 least prefered) for ...
                                    #...each courses selected by the students the columns

In [6]:
#cleaning (students)

df_students.columns = df_students.iloc[0] #Column labels are defined with the first column
df_students = df_students.drop(0) #Drop the labels of the first column
df_students = df_students.reset_index(drop=True) #Reset the index of the first column with integer index

In [7]:
clean_empty_rows = df_students['Student ID'].isnull() #Detect missing values in the column 'Student ID'
df_students_clean = df_students[~clean_empty_rows] 

clean_empty_rows2 = df_students_clean['Credits Required'].isnull() #Detect missing values in the column 'Credits Required'
df_students_clean = df_students_clean[~clean_empty_rows2] #Remove the missing values
df_students_clean.reset_index(drop = True) #Reset the index of the first column with integer index

df_students = df_students_clean

In [8]:
#formatting (students)

credits_num = pd.to_numeric(df_students['Credits Required']) #Convert the credits to a numeric type
df_students['Credits Required'] = credits_num

In [9]:
df_students.info() #Print a concise summary of the data

<class 'pandas.core.frame.DataFrame'>
Int64Index: 244 entries, 0 to 243
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Student ID        244 non-null    object
 1   Credits Required  244 non-null    int64
 2   8                 244 non-null    object
 3   7                 244 non-null    object
 4   6                 244 non-null    object
 5   5                 244 non-null    object
 6   4                 244 non-null    object
 7   3                 244 non-null    object
 8   2                 244 non-null    object
 9   1                 244 non-null    object
dtypes: int64(1), object(9)
memory usage: 21.0+ KB

In [10]:
#cleaning (courses)

df_courses.columns = df_courses.iloc[0]
df_courses = df_courses.drop(0)
df_courses = df_courses.reset_index(drop=True)

In [11]:
clean_empty_rows3 = df_courses['Course ID'].isnull()
df_courses_clean = df_courses[~clean_empty_rows3]

df_courses_clean.reset_index(drop = True)

df_courses = df_courses_clean

In [12]:
#formatting (courses)


df_courses['Min Students'] = pd.to_numeric(df_courses['Min Students'])
df_courses['Max Students'] = pd.to_numeric(df_courses['Max Students'])
df_courses['Time Slot'] = pd.to_numeric(df_courses['Time Slot'])
df_courses['Credits'] = pd.to_numeric(df_courses['Credits'])

In [13]:
df_courses.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46 entries, 0 to 45
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Course ID     46 non-null     object
 1   Min Students  46 non-null     int64
 2   Max Students  46 non-null     int64
 3   Time Slot     46 non-null     int64
 4   Credits       46 non-null     int64
dtypes: int64(4), object(1)
memory usage: 2.2+ KB

### Keep track of changes

In [14]:
df_students

,Student ID,Credits Required,8,7,6,5,4,3,2,1
0,s_3,3,DA707,DA512,DA302,DA702,DA714,DA415F,DA910-2,DA311
1,s_4,3,DA212,DA912,DA512,DA605,DA714,DA302,DA104,DA311
2,s_5,3,DA104,DA803,DA217,DA306,DA311,DA212,DA806,DA513
3,s_6,3,DA912,DA301-1,DA803,DA717,DA104,DA513,DA217,DA605
4,s_7,3,DA910-2,DA212,DA104,DA302,DA311,DA206,DA251F,DA803
...,...,...,...,...,...,...,...,...,...,...
239,s_242,3,DA207,DA408,DA912,DA714,DA803,DA717,DA719-1,DA415F
240,s_243,3,DA806,DA010,DA302,DA605,DA217,DA204,DA251F,DA415F
241,s_244,3,DA104,DA311,DA605,DA717,DA201,DA511,DA302,DA206
242,s_245,2,DA717,DA408,DA511,DA912,DA513,DA302,DA104,DA912
243,s_246,3,DA104,DA912,DA206,DA803,DA512,DA217,DA202,DA605

In [15]:
df_courses

0  Course ID  Min Students  Max Students  Time Slot  Credits
0      DA010             5            20          2        1
1      DA011             5            20          0        1
2     DA011F            10            24          3        1
3      DA104             5            20          9        1
4      DA201             5            20          1        2
5      DA202             5            20          5        1
6      DA204             4            60          9        1
7      DA206            12            20          1        1
8      DA207             5            20          3        2
9      DA211             5            20          5        1
10     DA212             5            20          6        1
11     DA217             5            20          2        1
12     DA220             5            20          3        1
13     DA234             4            20          3        1
14     DA238             5            20          5        1
15  DA250F-1             5            20          1        1
16  DA250F-2             5            20          2        1
17    DA251F            10            20          3        1
18   DA301-1             5            20          5        1
19     DA302            12            40          6        1
20     DA306            20            20          5        1
21     DA308             5            20          6        2
22     DA311             4            20          9        1
23     DA403             5            20          9        1
24     DA408             5            20          6        1
25    DA415F            15            30          9        1
26     DA511             5            20          3        1
27     DA512             5            14          1        1
28     DA513             5            20          9        1
29     DA605             5            20          5        1
30     DA701             4             8          6        1
31     DA702             8            20          9        1
32     DA704             8            20          2        2
33     DA707             5            25          4        1
34     DA714             5            20          3        1
35     DA717             5            20          5        1
36     DA718             5            20          1        1
37   DA719-1             4            20          5        1
38   DA719-2             4            20          6        1
39     DA803             5            20          4        2
40     DA806             5            30          6        1
41   DA910-1             5            20          3        1
42   DA910-2             5            20          2        1
43     DA912             5            15          1        1
44     DI702             5            10          5        1
45     DI703             5            10          9        1