### Import the libraries

In [1]:
import numpy as np
import pandas as pd

In [2]:
df_students_original = pd.read_excel (r'./data/student_project_assignment_input-1.xls', sheet_name='studenten')
df_courses_original = pd.read_excel (r'./data/student_project_assignment_input-1.xls', sheet_name='assignments')
df_students = df_students_original.copy()
df_courses = df_courses_original.copy()

### Clean the data

In [3]:
# CLEANING STUDENTS

df_students.loc[0][2:] = list(map(str, range(8))) # Set column labels with happiness course preference number
df_students.columns = df_students.iloc[0]

df_students = df_students.drop(0) # Drop the labels of the first column
df_students = df_students.reset_index(drop=True) # Reset the index of the first column with integer index

clean_empty_students = df_students['Student ID'].isnull() | df_students['Credits Required'].isnull() 
df_students = df_students[~clean_empty_students] # Detect missing values in the columns 'Student ID' and 'Credits Required'

df_students.reset_index(drop=True) # Reset the index of the first column with integer index

credits_num = pd.to_numeric(df_students['Credits Required']) # Convert the credits to a numeric type
df_students['Credits Required'] = credits_num

In [4]:
df_students.info() # Print a concise summary of the students

<class 'pandas.core.frame.DataFrame'>
Int64Index: 244 entries, 0 to 243
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Student ID        244 non-null    object
 1   Credits Required  244 non-null    int64
 2   0                 244 non-null    object
 3   1                 244 non-null    object
 4   2                 244 non-null    object
 5   3                 244 non-null    object
 6   4                 244 non-null    object
 7   5                 244 non-null    object
 8   6                 244 non-null    object
 9   7                 244 non-null    object
dtypes: int64(1), object(9)
memory usage: 21.0+ KB

In [5]:
# CLEANING COURSES
df_courses.columns = df_courses.iloc[0]
df_courses = df_courses.drop(0) # Set correct column labels
df_courses = df_courses.reset_index(drop=True) 

clean_empty_courses = df_courses['Course ID'].isnull() # Remove empty rows
df_courses = df_courses[~clean_empty_courses]

df_courses.reset_index(drop = True)

df_courses['Min Students'] = pd.to_numeric(df_courses['Min Students'])
df_courses['Max Students'] = pd.to_numeric(df_courses['Max Students'])
df_courses['Time Slot'] = pd.to_numeric(df_courses['Time Slot'])
df_courses['Credits'] = pd.to_numeric(df_courses['Credits'])

In [6]:
df_courses.info() # Print a concise summary of the courses

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46 entries, 0 to 45
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Course ID     46 non-null     object
 1   Min Students  46 non-null     int64
 2   Max Students  46 non-null     int64
 3   Time Slot     46 non-null     int64
 4   Credits       46 non-null     int64
dtypes: int64(4), object(1)
memory usage: 2.2+ KB